<!DOCTYPE html>
<html>
  <head>
    <style>
      table {
        border-collapse: collapse;
      }

      table,
      th,
      td {
        border: 1px solid black;
      }

      th,
      td {
        padding: 5px;
      }

      hr {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    </style>
  </head>

  <body>
    <div style="width: 85%; margin: 0 7.5%">
      <div style="text-align: center">
        <h2 style="font-size: large">City of Langford</h2>
        <div style="font-size: medium">Timesheet Comments</div>
        <strong> <%=startDate %> - <%=endDate %> </strong>
        <hr />
        <div style="text-align: left">
          <div>
            <strong>Name: </strong>
            <%=employee.FirstName %> <%=employee.LastName %>
          </div>
          <div>
            <strong>EmployeeID: </strong>
            <%=employee.EmployeeID %>
          </div>
          <div>
            <strong>Email: </strong>
            <%=employee.Email %>
          </div>
        </div>

        <hr />
        <table style="table-layout: fixed; width: 100%">
          <tr>
            <th>Date of Work</th>
            <th>Comment</th>
          </tr>
          <% if (timesheet.length> 0) { %> <% timesheet.forEach(entry=> {%>
          <tr>
            <td><%=entry.DateofWork %></td>

            <td style="word-wrap: break-word; font-size: 0.8rem">
              <%=entry.Comment %>
            </td>
          </tr>
          <% });%> <% }%>
        </table>
        <hr />
        <h4>Day Comments</h4>
        <table style="table-layout: fixed; width: 100%">
          <tr>
            <th>Date</th>
            <th>Comment</th>
          </tr>
          <% dayComments.forEach(entry=> {%>
          <tr>
            <td><%=entry.DateofComment %></td>
            <td style="word-wrap: break-word; font-size: 0.8rem">
              <%=entry.Comment %>
            </td>
          </tr>
          <% });%>
        </table>

        <hr />
        <h4>Approval Information</h4>
        <div style="text-align: left">
          <div>
            <strong>Approval Status: </strong>
            <% if (approval) { %> <%=approval.ApprovalStatus %> <% }%>
          </div>
          <div>
            <strong>Supervisor Comment: </strong>
            <% if (approval) { %> <%=approval.SupervisorComment %> <% }%>
          </div>
          <div>
            <strong>Payroll Comment: </strong>
            <% if (approval) { %> <%=approval.PayrollComment %> <% }%>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
